<footer class="footer">
  <div class="content has-text-centered">
    <p>
      Исходный код лицензирован
      <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
      Содержимое веб-сайта лицензировано
      <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
    </p>
  </div>
  <div class="is-flex is-flex-direction-row is-flex-wrap-wrap is-justify-content-center">
    <a class="m-3" href="https://github.com/{{ site.main_login }}">
      <img
        src="/assets/img/github.svg"
        height="24px"
        width="24px"
        alt="Github logo icon"
        class="image is-32x32"
      />
    </a>
    <a class="m-3" href="https://vk.com/{{ site.main_login }}">
      <img
        src="/assets/img/vk-com.svg"
        height="24px"
        width="24px"
        alt="VK logo icon"
        class="image is-32x32"
      />
    </a>
    <a class="m-3" href="https://twitter.com/{{ site.main_login }}">
      <img
        src="/assets/img/twitter.svg"
        height="24px"
        width="24px"
        alt="Twitter logo icon"
        class="image is-32x32"
      />
    </a>
    <a class="m-3" href="https://instagram.com/{{ site.main_login }}">
      <img
        src="/assets/img/instagram.svg"
        height="24px"
        width="24px"
        alt="Instagram logo icon"
        class="image is-32x32"
      />
    </a>
  </div>
</footer>
