<div class="hero" id="github-widget">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-one-fifth is-flex is-justify-content-center">
          <figure class="image">
            <img
              class="profile-avatar-image"
              id="user-image"
              src="https://via.placeholder.com/172"
              alt="GitHub user profile pic"
              height="172"
              width="172"
            />
          </figure>
        </div>
      </div>
      <div class="columns is-centered mt-5">
        <div class="column is-half">
          <p class="title has-text-centered" id="user-name">Unknown user</p>
          <p class="subtitle has-text-centered" id="user-login">@unknown</p>
          <div class="content has-text-centered">
            <p id="user-bio">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste cum
              commodi facilis illum.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
