<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#2E4C6D">
  <link rel="icon" href="/assets/img/favicon.svg">
  <meta name="google-site-verification" content="2sL6u_LOQ5VkohOBUnFnPDILrzmCurACAyMY4aIIalA" />
  {%- seo -%}
  {%- feed_meta -%}
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <script src="/assets/js/main.min.js" defer></script>
</head>
