<header>
  <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
    <div class="container">
      <div class="navbar-brand">
        <a href="{{ "/" | relative_url }}" class="navbar-item">
          <img
            src="/assets/img/brand.svg"
            width="112"
            height="28"
          />
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end">
          <a href="/blog/" class="navbar-item">✨ Блог</a>
          <a href="/pulse.html" class="navbar-item">💎 Проекты</a>
          <a href="/search.html" class="navbar-item">🔎 Поиск</a>
        </div>
      </div>
    </div>
  </nav>
</header>
