<!-- Hero widget markup -->
<section class="section" id="hero_widget">
  <div class="container">
    <div class="columns">
      <div class="column is-one-quarter" id="avatar_container">
        <div class="box">
          <figure class="image">
            <img
              class="profile-avatar-image"
              id="user_avatar"
              src="https://via.placeholder.com/172"
              alt="GitHub user profile pic"
              height="172"
              width="172"
            />
          </figure>
        </div>
      </div>
      <div class="column" id="info_container">
        <div class="box">
          <div class="is-flex is-flex-direction-column">
            <div class="block">
              <h1 class="title is-family-secondary" id="user_name">Jon Doe</h1>
              <h2 class="subtitle" id="user_login">@jon_doe</h2>
            </div>
            <div class="block">
              <p id="user_bio">
                {{ page.description }}
              </p>
            </div>
            <div class="block">
              <div class="field is-grouped is-grouped-multiline">
                <div class="control" data-aos="zoom-in">
                  <div class="tags has-addons">
                    <span class="tag is-primary">twitter</span>
                    <span class="tag is-info" id="twitter_login">@twitter</span>
                  </div>
                </div>
                <div class="control" data-aos="zoom-in">
                  <div class="tags has-addons">
                    <span class="tag is-primary">Followers</span>
                    <span class="tag is-info" id="followers">0</span>
                  </div>
                </div>
                <div class="control" data-aos="zoom-in">
                  <div class="tags has-addons">
                    <span class="tag is-primary">Following</span>
                    <span class="tag is-info" id="following">0</span>
                  </div>
                </div>
                <div class="control" data-aos="zoom-in">
                  <div class="tags has-addons">
                    <span class="tag is-primary">Repositories</span>
                    <span class="tag is-info" id="repositories">0</span>
                  </div>
                </div>
                <div class="control" data-aos="zoom-in">
                  <div class="tags has-addons">
                    <span class="tag is-primary">Hireable</span>
                    <span class="tag is-info" id="hirable">false</span>
                  </div>
                </div>
                <div class="control" data-aos="zoom-in">
                  <div class="tags has-addons">
                    <span class="tag is-primary">Location</span>
                    <span class="tag is-info" id="location">n/d</span>
                  </div>
                </div>
                <div class="control" data-aos="zoom-in">
                  <div class="tags has-addons">
                    <span class="tag is-primary">Gists</span>
                    <span class="tag is-info" id="gists">0</span>
                  </div>
                </div>
                <div class="control" data-aos="zoom-in">
                  <div class="tags has-addons">
                    <span class="tag is-primary">Company</span>
                    <span class="tag is-info" id="company">n/d</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
