<!-- Tag template -->
<template id="pulse_lang_tag">
  <div class="tags has-addons">
    <div class="tag is-primary" id="tag_language">License</div>
    <div class="tag" id="tag_counter">0</div>
  </div>
</template>

<!-- Card template -->
<template id="pulse_repo_card_template">
  <div class="column is-one-third-desktop is-half-tablet" data-aos="zoom-in">
    <div class="box is-flex is-flex-direction-row">
      <img
        class="image is-48x48 mr-5"
        src="/assets/img/repo-icon.svg"
        id="proj_icon"
        alt=""
      />
      <div class="is-flex is-flex-direction-column">
        <div class="block">
          <p class="title is-5 is-family-secondary" id="proj_name"></p>
          <p class="subtitle is-6" id="proj_desc"></p>
        </div>
        <div class="field is-grouped is-grouped-multiline">
          <div class="control">
            <div class="tags has-addons">
              <div class="tag is-primary">Stars</div>
              <div class="tag" id="proj_stars">0</div>
            </div>
          </div>
          <div class="control">
            <div class="tags has-addons">
              <div class="tag is-primary">Forks</div>
              <div class="tag" id="proj_forks">0</div>
            </div>
          </div>
          <div class="control">
            <div class="tags has-addons">
              <div class="tag is-primary">License</div>
              <div class="tag" id="proj_license">0</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<!-- Widget body markup -->
<section class="section">
  <p class="title is-4">Repositories overview:</p>
  <hr />
  <div class="columns is-multiline" id="pinned_repos"></div>
</section>
