<div class="section">
  <div class="container mt-5 is-flex is-justify-content-center is-flex-wrap-wrap">
    <div class="m-1">
      <a href="{{ "/feed.xml" | relative_url }}" class="button">
        <span class="icon is-small">
          <i data-feather="rss"></i>
        </span>
        <span>Subscribe via RSS</span>
      </a>
    </div>
    <div class="m-1">
      <a href="/blog" class="button">
        <span>All</span>
        <span class="icon is-small">
          <i data-feather="arrow-right"></i>
        </span>
      </a>
    </div>
  </div>
</div>
