/* -------------------------------------------------------------------------- */
/*                                    Fonts                                   */
/* -------------------------------------------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&family=Ubuntu+Mono&display=swap");
@font-face {
  font-family: "GolosTextWebRegular";
  src: url("/assets/fonts/Golos-Text_Regular.woff2") format("woff2"),
    url("/assets/fonts/Golos-Text_Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* -------------------------------------------------------------------------- */
/*                                Theme colors                                */
/* -------------------------------------------------------------------------- */
$accent-color-main: #2e4c6d;
$accent-color-alt: #396eb0;
$bg-color: #daddfc;
$text-color: #333333;
$secondary-color: #fc997c;

/* -------------------------------------------------------------------------- */
/*                                 Bulma theme                                */
/* -------------------------------------------------------------------------- */
$family-primary: "GolosTextWebRegular", -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
  sans-serif;
$family-code: "Ubuntu Mono", monospace;
$primary: $accent-color-main;
$link: $secondary-color;
$text: $text-color;
$hr-background-color: $secondary-color;

/* -------------------------------------------------------------------------- */
/*                               Custom elements                              */
/* -------------------------------------------------------------------------- */
.profile-avatar-image {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  height: 150px;
  width: 150px;
}

/* Import Bulma */
@import "bulma.sass";
