---
layout: default
---

<!-- Article head -->
<section class="hero is-primary">
  <div class="hero-body">
    <h1 class="title is-family-secondary">{{ page.title | escape }}</h1>
    <br />
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    <p class="subtitle" id="typing">{{ page.date | date: date_format }}</p>
  </div>
</section>

<!-- Article body -->
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-three-quarters">
        <article class="content">{{ content }}</article>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-three-quarters">
        <hr />
        <p class="title is-4">⚡ DISQUS</p>
        <hr />
        {%- include disqus_widget.html -%}
      </div>
    </div>
  </div>
</section>
